<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> <!--for strings-->
    {% block head %}{% endblock %} <!--This is Jinja2 syntax flask's template engine here code from other is inserted for loops etc-->
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
